body {
  font: 500 1em Raleway, 'Trebuchet MS';
  color: #fff;
  background: #009090 center repeat;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: Raleway;
  margin: 5px 0;
  padding: 0;
}

.container {
  padding: 0 20px 20px;
  text-align: center;
}

.section {
  margin: 30px auto;
  max-width: 560px;
  padding:15px;
}

.sectionText {
  max-width: 560px;
  margin: 40px auto 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.icon > span {
  display: inline-block;
  margin: 0 0 0 5px;
}

.proficiency {
  margin: 10px 0;
}

.proficiency > span {
  width: 35%;
  font-size: 0.8em;
  text-align: left;
}

.proficiency > span, .proficiency > div {
  display: inline-block;
  margin: 0 5px;
  text-align: left;
  vertical-align: middle;
}

.proficiency > div {
  width: auto;
  display: inline-block !important;
  max-width: 60%
}

.portfolio {
    margin: 0 auto;
    max-width: 560px;
    text-align: left;
    color: #fff !important;
}

ul.list {
  margin: 2px;
  max-width: 200px;
  margin: 0 auto;
  text-align: left;
}

ul.list > li {
  font-size: 0.8em;
}

.icon {
  display: inline-block;
  margin: 10px;
  padding: 10px 0;
  transition-duration: 0.75s;
}

.icon:hover {
  color: #009090;
}

.icon > span {
  margin: 10px 0 0 0;
}

.headerTitle {
  font:100 4.8em Raleway;
  text-shadow: 3px 5px 10px #333;
  margin: 0;
}

.underline {
  text-decoration: underline;
}

.marginRight {
  margin: 0 5px 0 0;
}

.inlineBlock {
  display: inline-block;
  margin: 0 15px 0 0;
  vertical-align: top;
}

.itemImage {
  max-height: 128px;
  padding:5px;
  border-radius: 50%;
  background-color: #ececec;
}

.paddingTop {
  padding: 10px 0;
}

.descriptionText {
  font: 100 0.9em Raleway, Tahoma, Verdana, 'sans-serif';
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.2; }
    to { opacity: 1.0; }
}

@keyframes translate {
    from { left: 10%; opacity: 0}
    50% { left: 40%; opacity: 1}
    to { left: 80%; opacity: 0}
}

.blink {
   animation:fade 1.5s infinite;
    -webkit-animation:fade 1.5s infinite;
}

span.fancyAnim {
  display: inline-block;
  position: absolute;
  width: 56px;
  opacity: 0;
  animation: translate 5s infinite;
  background-color: rgba(255, 255, 255, 0.15)
}
